.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.logo {
  width: 40px;
  border-radius: 50%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
}

.footer-info {
  flex: 1;
  text-align: left;
}

.footer-social {
  flex: 1;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
}
